# Fix DNS server issue on WSL
echo "nameserver 8.8.8.8" | sudo tee /etc/resolv.conf

# PATH
export PATH="/usr/local/sbin:/home/niccolodichio/.fnm:$PATH"

# OH-MY-ZSH
export ZSH="$HOME/.oh-my-zsh"

ZSH_THEME="robbyrussell"

plugins=(git zsh-autosuggestions zsh-completions zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# DEFAULTS
export EDITOR='code --wait'

eval "$(fnm env --use-on-cd)"

alias nah="g reset --hard && g clean -df"
alias log="g log --oneline --decorate --all --graph"
